<ion-grid *ngIf="message">
  <ion-row>
    <ion-col>
      <ion-text [color]="color">
        {{message?.users_name}}
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="message?.message_attachment">
    <ion-col size="12">
      <ion-img [src]="serverUrl + '/' + message.message_attachment" tappable (click)="previewImg()">
      </ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="9">
      <div [className]="message?.isMine ?  'primary' : 'medium' " >
        <ion-text>
          {{message?.message_body}}
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row no-padding>
    <ion-col offset="6" no-padding>
      <ion-text color="medium" style="font-size: small">
        {{createdDate | customDate}}
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
