.user{
  background-color: #dcf8c6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius:15px;
}
.noUser{
  background-color: #e5e5e5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.selected{
  background-color: rgba(7, 142, 173, 0.2);
}



