<ion-list>
  <ion-list-header>Options</ion-list-header>
  <ion-item button detail="true" *ngIf="!isPreview" (click)="onForward()">
    Forward
  </ion-item>
  <ion-item  *ngIf="isMine && !isPreview" button detail="true" (click)="onUpdate()">
    Update
  </ion-item>
  <ion-item *ngIf="isMine && canBeDeleted" button detail="true" (click)="onDelete()">
    Delete
  </ion-item>
    <ion-item *ngIf="isGroup" button detail="true" (click)="onLeaveGroup()">
    Leave Group
  </ion-item>
    <!--<ion-item *ngIf="isGroup && isGroupAdmin" button detail="true" (click)="onDeleteGroup()">-->
    <!--Delete Group-->
  <!--</ion-item>-->
</ion-list>
