<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row >
        <ion-col size="3" >
          <ion-avatar >
            <ion-img  [src]=" chat?.chat?.conversation_picture_url ? serverUrl+ '/' + chat?.chat?.conversation_picture_url : '../../../assets/imgs/nopic.png' " ></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="9" style="align-self: center">
          <ion-title  *ngIf="chat?.chat?.conversation_name">{{chat.chat.conversation_name}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="messages?.length>0">
    <app-chat-message *ngFor="let item of messages" (value)="scrollDown()" (updateEmitter)="startUpdate($event)" [message]="item"  [color]="color" [secondColor]='otherColor'></app-chat-message>
  </ion-list>


      <!--<ion-virtual-scroll [items]="messagesArr" *ngIf="chat && mailedUser" >-->
        <!--<div *virtualItem="let item">-->
         <!--<app-chat-message  [message]="item" [mailedUser]="mailedUser" ></app-chat-message>-->
        <!--</div>-->
      <!--</ion-virtual-scroll>-->


</ion-content>
<ion-footer>
  <ion-toolbar no-padding>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col offset="1" size="7" no-padding>
          <ion-input [(ngModel)]="messageValue" placeholder="Start a message" (ionFocus)="scrollDown()"></ion-input>
        </ion-col>
        <ion-col size="2" no-padding *ngIf="!updating">
          <ion-button (click)="addPicture()"  class="Btn" >
            <ion-icon name="image" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" no-padding *ngIf="updating">
          <ion-button (click)="cancelUpdate()"  class="Btn" >
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" no-padding *ngIf="!updating">
          <ion-button (click)="sendMsg()"  class="Btn" [disabled]="messageValue?.trim() === '' || !messageValue">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" no-padding *ngIf="updating">
          <ion-button (click)="updateMsg()"  class="Btn" [disabled]="messageValue?.trim() === '' || !messageValue">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
