<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="modalCancel()">
              <ion-icon size="large" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button [disabled]="title.trim().length<0">
              <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Update groupName</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item style="margin-top: 5%">
		<ion-input minlength='5' maxlength='25' [(ngModel)]='title'></ion-input>
	</ion-item>
</ion-content>
